{{ template "headermain"}}
<div class="wraper">
    <div class="new">
    <div class="head">
      <span class="new_title_all">Страница не найдена</span>
        </div>
          <div class="notfound">
          <!--<div class="new_title">
            <h1 dir="auto"><a >Страница не найдена</a></h1>
          </div>-->
          <div class="notfound_body">
            
          <p > 404</p>
   
          </div>
         
                </div>
      </div>
      </div>
      {{ template "footer"}}