{{ template "headermain"}}
<div class="wraper">
    <div class="new">
    <div class="head">
      <span class="new_title_all">Проблема</span>
        </div>
          <div class="theend">
          <!--<div class="new_title">
            <h1 dir="auto"><a >Страница не найдена</a></h1>
          </div>-->
          <div class="theend_body">
          <p >На сервере возникла проблема. Специалисты наверное в курсе и что-то делают.</p>
          </div>
                </div>
      </div>
      </div>
      {{ template "footer"}}