{{ template "headermain"}}
         <div class="wraper">
          <div class="new">
          <div class="head">
            <span class="new_title_all">Как с нами связаться</span>
              </div>
                <div class="new_body">
                     <ul class="contacts">
                      <li ><p><strong class="email">admin@filmsblog.ru</strong> - администратор сайта</p></li>
                      <li><p><strong class="email">sale@filmsblog.ru</strong> - отзывы, предложения по развитию сайта и сотрудничеству</p></li>
                    </ul>
                  </div>
                </div>
      </div>
      {{ template "footer"}}